@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tektur&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/placeholderBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

/*-----------------------------------------------------------------------*/   /* Senti la necesidad de agregar esta clase de aviso asique lo busque en internet y lo modifique para que se ajuste mas a lo que yo quiero */ 
                                                                              /* Codigo original en https://codepen.io/sdindi/pen/yLRvqPP */
.open-modal {
    background: transparent;
    border: none;
    transition: all 0.3s;
    outline: none;
}

.open-modal:active {
    transform: translate(-50%, -50%);
}

.modal-content {
    position: absolute;
    background: #202020;
    left: 50%;
    top: 50%;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 99;
    transform: translate(-50%, -50%);
}
  
.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: rgb(207, 12, 12);
    font-size: 30px;
}
  
.close-modal {
    color: white;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 40px; 
}
  
.close-modal:hover {
    color: #fa5252;
}
  
.modal-body p {
    font-size: 22px;
    line-height: 1.5;
    color: orange;
}
  
.hidden-modal {
    display: none;
}
  
.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1;
}
  
.hidden-blur {
    display: none;
}

/*-----------------------------------------------------------------------*/

.hero {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #666;
}

.hero__header {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

.hero .logo {
    max-width: 5rem;
}

.nav__list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    color: orange;
}

.nav__list li a:hover {
    color: rgb(255, 238, 0);
}

.menu__item {
    font-family: 'Tektur', cursive;
    letter-spacing: 3px;
    border-bottom: solid thick orange;
    padding: 20px 20px 20px 20px;
    font-size: 2rem;
}

.abrir__menu,
.cerrar__menu {
    display: none;
}

.cambiar__idioma {
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    color: white;
}

.cambiar__idioma.mobile {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "item1 item1"
    "item2 item3";
    gap: 2rem;
    padding: 6rem;
    margin-bottom: 7.2rem;                  /* EL FOOTER NO SE QUERIA QUEDAR EN SU LUGAR >:( */
}

.grid__item1 {
    grid-area: item1;                       /* si bootstrap rompe algo, probar esta solucion primero */
}

.grid__item1 h1 {
    font-family: 'Tektur', cursive;         /* bootstrap rompia mis cambios al fontsize por lo que hice 2 tags separados, uno para dar la posicion en grid, el otro para el resto de cambios. No se como pero funciona */ 
    font-size: 5rem;
    letter-spacing: 1.5rem;
    text-align: center;

    color: rgb(255, 166, 0);
    border-bottom: 1px solid orange;
    text-shadow: 4px 4px 6px #666;
}

.grid__item2 {
    grid-area: item2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    line-height: 1;

    color: white;
}

.grid__item3 {
    grid-area: item3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.grid__item3 .boton {
    background-color: #666;
    border: none;
    color: black;
    padding: 32px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;

    text-align: center;
    font-size: 1.5rem;
}

.boton:hover {background-color: gold}

.boton:active {
  background-color: gold;
  box-shadow: 0 6px #666;                    /* truco aprendido de W3Schools */
  transform: translateY(4px);
}

.footer {                                      /* por algun motivo diabolico no puedo poner el margin en 0... como quieras CSS */
    position: flex;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 4rem;
    width: 100vw;
    padding-top: 10px;
    border-top: 1px solid #666;
}

.footer a {
    text-decoration: none;
    color: rgb(230, 90, 10);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.footer__content i {
    color: white;
}

.footer__links {                                /* por algun motivo diabolico el contenido de este elemento es mas grande de lo que deberia ser ?????... como quieras CSS */
    display: flex;
    gap: 3rem;
    padding-left: 1rem;
}

.footer__links a {
    padding-right: 1rem;
}

.footer__links a:hover {
    color: rgb(255, 238, 0);
}

.footer__sociales {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    color: white;
    gap: 3rem;
    font-size: 1.5rem;
    padding: 0rem;
}

.footer__content i:hover {
    color: rgb(230, 90, 10);
}

.mg {
    padding-right: 1rem;
}

                  /*************************** LORE HTML ***************************/

.grid__carrusel {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". carrusel .";
    padding: 2rem;
    padding-top: 3rem;
}

.titulo__pagina {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Tektur', cursive;
    color: gold;
    width: max-content;
    height: max-content;
}

#carouselExampleIndicators {
    grid-area: carrusel;
}

.carousel-inner {
    padding: 0.5rem;
    background-color: black;
    border: 4px double rgb(202, 135, 9);
    box-shadow: -8px -5px 10px rgb(230, 90, 10);
}

.carousel-item .titulo__carrusel {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;

    color: white;
    font-weight: bold;
    background-color: #f84141;
    padding: 0.2rem 2rem;
}

.carousel-inner p {
    height: 10rem;
    padding: 0.5rem;
    line-height: 1.6;
    background-color: rgba(51, 51, 51, 0.6);
    border: 2px solid rgb(202, 135, 9);
    color: rgb(252, 177, 38);
    font-weight: bold;
}

.carousel-item.video {
    height: 43.2rem;
}

.lore__dump {
    padding-bottom: 0.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.trailer__title {
    font-family: 'Tektur', cursive;
    color: gold;
    text-align: center;
}

.trailer__vid {                       /* w3schools my beloved, esto impide que el video se vea del asco */
    position: relative;               /* un thumbnail/boton de reproduccion personalizados estarian buenos pero viendo el codigo de eso... eh, sera en otro momento */
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 2rem;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
                    /*************************** ------ ***************************/



                    /*************************** CONTACT HTML ***************************/

.grid__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "form ."
    ". msg";
    padding: 1rem;
}

.bootstrap__form {
    grid-area: form;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.personal__msg {
    padding-top: 14.6rem;
    grid-area: msg;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    color: rgb(142, 76, 207);
}

.personal__msg img {
    height: 7rem;
    width: 7rem;
}

                  /*************************** ------ ***************************/

                  /*************************** COMMUNITY HTML ***************************/

.grid__community {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "placeholder paginas"
    "placeholder paginas";
    padding: 2rem;
    gap: 2rem;
}

.list__community {
    grid-area: paginas;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.list__community li {
    font-family: 'Tektur', cursive;
    font-size: 1.5rem;
    list-style-type: none;
    border: 2px double rgb(252, 177, 38);
    padding-left: 1rem;
}

.list__community a {
    text-decoration: none;
    color: orange;
}

.list__community a:hover {
    color: yellow;
}

.placeholder__stuff p {
    grid-area: placeholder;
    background-color: #666;
    color: rgb(202, 30, 30);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 61.5vh;

    text-align: center;
}

                    /*************************** ------ ***************************/



                    /*************************** CHARACTER HTML ***************************/

.grid__chars {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "titulo ."
    "chars chars"
    ". pholder";

    padding: 2rem;
}

.titulo__pagina.chars {
    grid-area: titulo;
    place-items: 3rem 2rem;
}

.char__list {
    grid-area: chars;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.char__list li {
    list-style-type: none;
    color: orange;
    background-color: rgb(0, 0, 0);

    text-align: center;
    font-size: 2rem;

    gap: 1rem;
    height: 10rem;
    width: 10rem;
    padding-top: 3rem;
}

.pholder {
    grid-area: pholder;
    background-color: #666;
    color: rgb(202, 30, 30);
    font-weight: bold;
    font-size: 2rem;
    width: 75%;
}

.pholder p {
    height: 15rem;
}

                  /*************************** ------ ***************************/

@media screen and (max-width: 420px) {

    .hero__header {
        display: flex;
        flex-direction: row;          /* Hmmm funcional pero no me gusta que el centro de la navbar quede tan vacio ¿que mas podria hacer? */
    }

    .hero__nav {
        opacity: 0;
        visibility: hidden;           /* opacity y visibility esconden la navbar al cambar la resolucion */

        /* display: flex;
        flex-direction: column;       flex,column  y end posicionan al boton en el lugar que quiero 
        align-items: end;             es mas sencillo de ordenar con hero__header pero dejo esto porsia
        gap: 1rem; */
        
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(15, 15, 15);
        padding: 1rem;
        padding-bottom: 0;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        z-index: 1;
    }

    .hero__nav.visible {
        opacity: 1;
        visibility: visible;
    }
    

    .nav__list {
        flex-direction: column;
        align-items: end;
    }

    .menu__item {
        letter-spacing: 2px;
        border-bottom: 2px solid orange;
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    .hero .logo {
        max-width: 3rem;
    }

    .cambiar__idioma {
        display: none;
    }

    .cambiar__idioma.mobile {
        display: block;
        font-size: 1.8rem;
        background-color: transparent;
        border: 0;
        padding: 0.5rem;
        cursor: pointer;
        color: white;
    }

    .abrir__menu,
    .cerrar__menu {
        display: block;
        border-radius: 5px;
        padding: 1px;
        font-size: 2rem;
        cursor: pointer;

        border: 1px solid white;
        color: white;
        background-color: transparent;
    }

    .cerrar__menu {
        border: none;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .grid__item1 h1 {        
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;

        /* border: none; */
        /* text-shadow: none; */
    }

    /* .parallax {           
        background-image: url("../img/fancyParallax3.jpg");          --- Experimento divertido pero se ve como el asco asique nah ---    
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size:  cover;

        height: 15rem;
        max-width: 100%;
        position: relative
    } */
    
    .grid__item2 {
        font-size: 1.3rem;
        line-height: 1.5;
        color: white;
    }
    
    .grid__item3 {
        flex-direction: row;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .grid__item3 .boton {
        background-color: #666;
        border: none;
        color: black;
        width: 50%;
        border-radius: 15px;
        cursor: pointer;
    
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .boton:hover {background-color: gold}

    .boton:active {
        background-color: gold;
        box-shadow: 0 6px #666;                    
        transform: translateY(4px);
    }

    .footer {
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        height: auto;
    }
    
    .footer a {
        text-decoration: none;
        color: rgb(230, 90, 10);
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    
    .footer__links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .footer__sociales {
        display: flex;
        flex-direction: row;

        list-style-type: none;
        cursor: pointer;
        color: white;

        gap: 4rem;
        margin: 0rem;
    }
    
    .footer__sociales i:hover {
        color: rgb(230, 90, 10);
    }

    /*************************** LORE HTML ***************************/

    .grid__carrusel {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .carousel-inner p {
        height: 24rem;
        padding: 0.5rem;
        line-height: 1.6;
        background-color: rgba(51, 51, 51, 0.6);
        border: 2px solid rgb(202, 135, 9);
        color: rgb(252, 177, 38);
        font-weight: bold;
    }

    .carousel-item.video {
        height: 38.1rem;
    }

    .lore__dump {
        margin-top: 1rem;
    }
}