.grid__community {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "placeholder paginas"
    "placeholder paginas";
    padding: 2rem;
    gap: 2rem;

    .twatter__iframe {

        .titulo__pagina{
            padding: 1rem;
            width: 80%;

            h1 {
                font-size: 3.5rem;
                font-weight: 600;
                font-family: $fuenteTitulo;
                color: $colorPrincipal;
            }

            p {
                font-family: $fuenteTexto;
                color: white;
                font-size: 2rem;
            }
        }
    }

    .list__community {
        grid-area: paginas;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "gfl gfl"
        "gp  gp"
        "wiki wiki"
        "mats mats"
        "gfc gfc";
        gap: 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        .gfl {
            grid-area: gfl;
            display: flex;
            flex-direction: row;
        }

        .gp {
            grid-area: gp;
            display: flex;
            flex-direction: row-reverse;
        }

        .wiki {
            grid-area: wiki;
            display: flex;
            flex-direction: row;
        }

        .mats {
            grid-area: mats;
            display: flex;
            flex-direction: row-reverse;
        }

        .gfc {
            grid-area: gfc;
            display: flex;
            flex-direction: row;
        }

        img {
            border: 2px solid $colorSecundario;
            border-radius: 1rem;
        }

        .pag__desc {
            padding: 1rem;
            
            h2 {
                font-family: $fuenteTitulo;
                color: $colorPrincipal;

                &:hover {
                    color: $colorHover;
                    text-shadow: 2px 2px 4px $colorPrincipal;
                }
            }

            p {
                font-family: $fuenteTexto;
                color: white;
                font-size: 1.5rem;
            }
        }

    }
}
