.bootstrap__form {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    .form__title {
        z-index: -1;
        width: 30%;
        
        h1 {
            @include titulo_pag;
        }

        @include title_expand;

        p {
            color: white;
            font-family: $fuenteTexto;
            font-size: 1.5rem;
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            padding-top: 2rem;

            @media screen and (max-width: 472px) {
                line-height: 1.3;
            }

            @include spanstyle;
        }

        @include mobile {
            width: auto;
        }
    }

    .scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 1s both}

    @keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

    .formCont {
        display: inline-block;
        margin: 7rem 6rem 6rem 6rem;

        @include mobile {
            margin: 0;
        }

        .form__placement {
            @include flex-column;
    
            background-image: url(../img/black-whiteBG.webp);
            background-position: center;
            background-size: 100%;
            border-radius: 2rem;
            border: 2px solid white;
    
            padding: 2rem;
            gap: 1rem;
            width: 170%;
            height: auto;

            @include mobile {
                width: 90vw;
            }
    
            .feedback-input {
                color:#3c3c3c;
                font-weight:500;
                font-size: 1rem;
                border-radius: 0.5rem;
                padding: 13px 13px 13px 6px;
                margin-bottom: 10px;
                width: 100%;
            }
    
            textarea {
                height: 150px;
                line-height: 150%;
            }
            
        }
    }
    
}