.bootstrap__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "titulo  form  .";
    padding: 1rem;

    .form__title {
        grid-area: titulo;
        
        h1 {
            font-size: 3.5rem;
            font-weight: 600;
            font-family: $fuenteTitulo;
            color: $colorPrincipal;
        }

        p {
            padding-top: 2rem;
            color: white;
            font-family: $fuenteTexto;
            font-size: 1.5rem;
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            width: 80%;

            span {
                color: red;
                text-decoration: line-through;
            }
        }
    }

    .form__bg {
        grid-area: form;
        background-image: url(../../img/OPS5_Y.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 6.5rem 10rem 6.5rem 10rem;
        border: 2px solid white;
        border-radius: 2rem;
        box-shadow: 6px 6px 4px #666;
        margin: 2.3rem 0;

        .form__placement {
            background-color: #19191f;
            padding: 2rem;
            border-radius: 2rem;
        }
    }
}