.bootstrap__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "titulo  form  .";
    padding: 1rem;

    .form__title {
        grid-area: titulo;
        
        h1 {
            @include titulo_pag;
        }

        @include title_expand;

        p {
            color: white;
            font-family: $fuenteTexto;
            font-size: 1.5rem;
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            padding-top: 2rem;
            width: 80%;

            @include spanstyle;
        }
    }

    .fade-in{animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) 1s both}

    @keyframes fade-in{0%{opacity:0}100%{opacity:1}}

    .form__bg {
        grid-area: form;
        
        background-image: url(../../img/black-whiteBG.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        padding: 6.5rem 10rem 6.5rem 10rem;
        border: 2px solid white;
        border-radius: 2rem;
        box-shadow: 6px 6px 4px #666;
        margin: 2.3rem 0;

        .scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 2s both}
    
        @keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

        .form__placement {
            background-color: #19191f;
            padding: 2rem;
            border-radius: 2rem;
        }
    }
}