.footer {                                     
    background-color: rgba(0, 0, 0,);
    color: white;
    padding-top: 10px;
    border-top: 1px solid #666;
    width: 100%;

    @include mobile {
        // position: relative;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        height: auto;
    }

    a {
        text-decoration: none;
        color: $colorSecundario;

        &:hover {
            @include hovercolor;
        }
    }

    i {
        color: white;

        &:hover {
            @include hovercolor;
        }
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        letter-spacing: 2px;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }

        .footer__links {                                
            display: flex;
            gap: 3rem;
            padding-left: 1rem;

            @include mobile {
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }
        }

        .footer__sociales {
            display: flex;
            list-style-type: none;
            cursor: pointer;
            color: white;
            gap: 3rem;
            font-size: 1.5rem;
            padding: 0rem;

            @include mobile {
                display: flex;
                flex-direction: row;
        
                list-style-type: none;
                cursor: pointer;
                color: white;
        
                gap: 4rem;
                margin: 0rem;
            }
        }

        .mg {
            padding-right: 1rem;
        }
    }

    .socLink {
        position: relative;

        &::before {
            content: attr(data-texto);
            position: absolute;
            bottom: 100%;
            background-color: black;
            font-weight: 400;
            font-size: 0.8rem;
            text-shadow: none;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            color: white;
    
            transform: scale(0);
            transform-origin: bottom left;
    
            transition: 0.15s;
        }
    
        &:hover::before {
            transform: scale(1);
        }
    }
}