.hero {
    background-color: rgba(0, 0, 0,);
    border-bottom: 1px solid #666;

    .hero__header {
        display: flex;
        align-items: center;
        padding: 1rem;
        padding-bottom: 0.5rem;
        justify-content: space-evenly;

        @include mobile {
            display: flex;
            justify-content: space-between;
            flex-direction: row;    
            width: 100%;     
        }

        .hero__nav {

            @include mobile {
                opacity: 0;
                visibility: hidden;           
        
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgb(0, 0, 0, .95);
                padding: 1rem;
                padding-bottom: 0;
                box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
                border-radius: 2rem;
                z-index: 1;
            }

            .nav__list {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                gap: 1rem;
                padding: 0;
                // margin-right: 3rem;
                flex-wrap: wrap;

                @include mobile {
                    flex-direction: column;
                    align-items: end;    
                }
    
                a {
                    text-decoration: none;
                    color: $colorPrincipal;
    
                    &:hover {
                        @include hovercolor;
                    }
                }
    
                .menu__item {
                    font-family: $fuenteTitulo;
                    letter-spacing: 3px;
                    border-bottom: 4px solid $colorPrincipal;
                    padding: 1.25rem 1.25rem;
                    font-size: 2rem;

                    @media screen and (max-width: 1260px) {
                        padding: 1rem 1rem;
                        font-size: 1.5rem;
                    }

                    @include mobile {
                        letter-spacing: 2px;
                        border-bottom: 2px solid orange;
                        font-size: 1.4rem;
                        padding: 0.5rem;  
                    }
                }
            }
        } 

        .text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
    
        @keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
    
        .logo {
            max-width:100%;
            height:auto;
        }

        .hero__nav.visible {

            @include mobile {
                opacity: 1;
                visibility: visible;
            }
        }
        
        .abrir__menu,
        .cerrar__menu {
            display: none;
    
            @include mobile {
                display: block;
                border-radius: 5px;
                padding: 1px;
                font-size: 2rem;
                cursor: pointer;
        
                border: 1px solid white;
                color: white;
                background-color: transparent;
            }
        }

        .cerrar__menu {
            @include mobile {
                border: none;
            }
        }
    }

}