
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "item1 item1"
    "item2 item3";
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 7.2rem;    
    
    .grid__item1 {
        grid-area: item1;  
        display: flex;
        flex-direction: column;
        margin: 3rem 0;
        
        .titulo {
            font-family: $fuenteTitulo;          
            font-size: 5rem;
            letter-spacing: 1.5rem;
            text-align: center;
            background: -webkit-linear-gradient($colorPrincipal, $colorSecundario);
            background-clip: content-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 2px 2px 8px #8380807c;
        }

        h2 {
            padding-bottom: 1rem;
            
            &:after {
                content: ""; 
                display: block; 
                margin: 0 auto; 
                width: 60%; 
                padding-top: 1rem;
                border-bottom: 2px solid $colorPrincipal; 
            }
        }
    }

    .grid__item2 {
        grid-area: item2;

        h2 {
            font-family: $fuenteTitulo;
            color: $colorPrincipal;
            text-shadow: 1px 1px 3px $colorPrincipal;

        }

        p {
            color: rgb(255, 249, 249);
            text-shadow: 1px 1px 3px #666;
            font-family: $fuenteTexto;
            font-size: 1.7rem;
            line-height: 1.2;
        }

        span {
            text-decoration: line-through;
            color: red;
        }
    }
    
    .grid__item3 {
        grid-area: item3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .boton {
            background-color: black;
            border: none;
            border-radius: 15px;
            padding: 6px;
            cursor: pointer;

            &:hover {background-color: $colorHover}

            &:active {
                background-color: gold;
                box-shadow: 0 6px #666;                  
                transform: translateY(4px);
            }
        }
    }
}