.grid__carrusel {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". carrusel carrusel";
    padding: 2rem;
    padding-top: 3rem;

    .lore__title {
        
        .titulo__pagina {
            font-size: 3.5rem;
            font-weight: 600;
            font-family: $fuenteTitulo;
            color: $colorPrincipal;
        }
    
        .desc__pagina {
            padding-top: 2rem;
            color: white;
            font-family: $fuenteTexto;
            font-size: 1.5rem;
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            width: 80%;

            span {
                color: red;
                text-decoration: line-through;
            }
        }
    }

    #carouselExampleIndicators {
        grid-area: carrusel;

        .carousel-inner {
            padding: 0.5rem;
            background-color: black;
            border: 4px double $colorPrincipal;
            box-shadow: -8px -5px 10px $colorSecundario;

            .carousel-item {

                .titulo__carrusel {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 0.5rem;
                    margin-left: 0.5rem;
                
                    color: white;
                    font-weight: bold;
                    background-color: #f84141;
                    padding: 0.2rem 2rem;
                }
    
                p {
                    height: 7rem;
                    padding: 0.5rem;
                    line-height: 1.4;
                    background-color: rgba(51, 51, 51, 0.6);
                    border: 2px solid $colorPrincipal;
                    color: $colorPrincipal;
                    font-weight: bold;
                    font-size: 1.1rem;
                    margin-bottom: 1.5rem;
                }

                .lore__dump {
                    padding-bottom: 0.5rem;
                    color: white;
                    font-family: $fuenteTexto;
                }
                 
                .trailer__title {
                    font-family: $fuenteTitulo;
                    color: $colorPrincipal;
                    text-align: center;
                }
                
                .trailer__vid {                       
                    position: relative;               
                    // overflow: hidden;
                    width: 100%;
                    padding-top: 56.25%;
                    margin-bottom: 2rem;
                }
                
                .responsive-iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}