.grid__community {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "placeholder paginas"
    "placeholder paginas";
    padding: 2rem;
    gap: 2rem;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    .twatter__iframe {
        z-index: -1;

        .titulo__pagina{
            padding: 1rem;
            width: 80%;

            @include mobile {
                width: 100%;
            }

            h1 {
                @include titulo_pag;
                
                @media screen and (max-width: 472px) {
                    font-size: 2.5rem;
                }
            }

            @include title_expand;

            p {
                color: white;
                font-family: $fuenteTexto;
                font-size: 2rem;

                @media screen and (max-width: 472px) {
                    font-size: 1.5rem;
                }

                @include spanstyle;
            }
        }

        .twitter-timeline {
            height: 300;
        }
    }

    .list__community {
        grid-area: paginas;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "gfl gfl"
        "gp  gp"
        "wiki wiki"
        "mats mats"
        "gfc gfc";
        gap: 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        %flexrow {
            display: flex;
            flex-direction: row;
        }

        %flexrowrev {
            display: flex;
            flex-direction: row-reverse;
        }

        .gfl {
            grid-area: gfl;
            @extend %flexrow;
        }

        .gp {
            grid-area: gp;
            @extend %flexrowrev
        }

        .wiki {
            grid-area: wiki;
            @extend %flexrow;
        }

        .mats {
            grid-area: mats;
            @extend %flexrowrev
        }

        .gfc {
            grid-area: gfc;
            @extend %flexrow;
        }

        img {
            border: 2px solid $colorSecundario;
            border-radius: 1rem;
        }

        .pag__desc {
            padding: 1rem;

            &::after {
                content: '';
                display:block;
                border: solid 3px $colorSecundario;  

                transform: scaleX(0);  
                transition: transform 400ms ease-in-out;
            }

            &:hover::after { transform: scaleX(1); }

            &::before {
                content: '';
                display:block;
                border: solid 3px $colorSecundario; 

                transform: scaleX(0);  
                transition: transform 400ms ease-in-out;
            }

            &:hover::before { transform: scaleX(1); }
            
            &:hover h2 {
                color: $colorHover;
                text-shadow: 2px 2px 4px $colorPrincipal;
            }

            h2 {
                font-family: $fuenteTitulo;
                color: $colorPrincipal;
            }

            p {
                color: white;
                font-family: $fuenteTexto;
                font-size: 1.5rem;
            }
        }

        .pagina__externa {
            @media screen and (max-width: 472px) {
                flex-direction: column;
            }
        }
    }
}
